@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
}


@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}