@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lato&display=swap');

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

.custom-bullet-list {
  list-style: disc;
  /* You can customize this further based on your design */
  margin-left: 20px;
  /* Adjust the indentation as needed */
}

.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
  z-index: 2;
}


@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: relative;
  width: max-content;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}


.dotsClass {
  background-color: red;
  color: red;
}