@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
  z-index: 2;
}


@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}